{
    "root": true,
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "jest-enzyme",
        "plugin:jest/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["react", "jest"],
    "rules": {
        "linebreak-style": 0,
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "react/jsx-handler-names": [
            "error",
            {
                "eventHandlerPrefix": "handle",
                "eventHandlerPropPrefix": "on"
            }
        ],
        "react/prop-types": "warn",
        "react/no-direct-mutation-state": "error",
        "react/sort-prop-types": "error",
        "prefer-destructuring": ["error", { "array": true, "object": true }],
        "curly": ["error", "all"],
        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
            {
                "blankLine": "any",
                "prev": ["const", "let", "var"],
                "next": ["const", "let", "var"]
            }
        ],
        "no-prototype-builtins": 0,
        "prettier/prettier": ["error", {
            "endOfLine":"auto"
        }]
    },
    "settings": {
        "react": {
            "version": "16.13"
        }
    }
}
